{% extends 'tapasapp/base.html' %}
{% load static %}

{% block sidebar %}
<ul>
    <li>View Wines</li>
    <li>View Large Dishes</li>
    <li>View Coursed Menus</li>
</ul>
{% endblock %}
                
                {% block content %}
                <div class="col-12">
                    <table class="table table-striped">
                        <thead >
                            <tr>
                                <th class="table-dark" scope="col"> Name </th>
                                <th class="table-dark" scope="col"> Cooking Time </th>
                                <th class="table-dark" scope="col"> Prep Time </th>
                                <th class="table-dark" scope="col"> </th>     
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in dishes %}
                            <tr>
                                <td> {{ d.name }} </td>
                                <td> {{ d.prep_time }} </td>
                                <td> {{ d.cook_time }} </td>
                                <td><button class="btn btn-secondary">Details</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endblock %}

            