<!-- 
Jobelle Ang, 240242
Sebastian Mangilit, 242880
Gide Ng, 243225
16 March 2026

We hereby attest to the truth of the following facts:
We have not discussed the HTML code in my program with anyone 
other than our instructor or the teaching assistants assigned to this course.
We have not used HTML code obtained from another student, 
or any other unauthorized source, whether modified or unmodified.
If any HTML code or documentation used in my program was 
obtained from another source, it has been clearly noted with 
citations in the comments of our program.
-->

{% extends 'MyInventoryApp/base.html' %}
{% load static %}

{% block sidebar %}
<ul>
    <li><a href="{% url 'view_bottles' %}" style="color:black">View Water Bottles</a></li>
    <li><a href="{% url 'add_bottles' %}" style="color:black">Add Bottle</a></li>
</ul>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="table-dark" scope="col"> Name </th>
                <th class="table-dark" scope="col"> City </th>
                <th class="table-dark" scope="col"> Country </th>
                <th class="table-dark" scope="col"> Created At </th>
            </tr>
        </thead>
        <tbody>
            {% for s in suppliers %}
            <tr>
                <td> {{ s.name }} </td>
                <td> {{ s.city }} </td>
                <td> {{ s.country }} </td>
                <td>{{ s.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
